html {
    font-size: 14px;
}
body {
    font-family: "Montserrat", sans-serif;
}
a:hover {
    text-decoration: none;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%absolute-full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.photo-item {
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        @extend %absolute-full;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        transition: all 0.2s ease;
        opacity: 0;
    }
    img {
        position: absolute;
        @extend %absolute-full;
        object-fit: cover;
        transition: all 0.2s ease;
    }
    &__content {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -100%;
        z-index: 2;
        transform: translateY(-100%);
        transition: all 0.2s ease;
    }
    &__title {
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
        &::before {
            opacity: 1;
        }
    }
    &:hover &__content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
    }
}
